# Copyright 2021 Splunk Inc.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

# This will trigger the workflow to run whenever a PR is merged to the main branch
on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Run Pytest
        run: |
          sudo apt-get update -qy
          sudo apt-get install ripgrep
          pip3 install -r requirements.txt
          python3 run_json.py --path=./tests/mock_repo --mode=check --err_file=err_biased_lang.log
          coverage run --omit '/usr/*' -m pytest && coverage report -m
  github_docker_build_publish_test:
      runs-on: ubuntu-latest
      needs: test
      steps:
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v1.10.0
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            logout: true
        - name: Docker build and push test to ghcr.io
          uses: docker/build-push-action@v2
          with:
            file: Dockerfile.gh
            push: true
            tags: ghcr.io/splunk/biased_lang:test
  github_test:
      runs-on: ubuntu-latest
      needs: github_docker_build_publish_test
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-python@v2
          with:
            python-version: '3.7'
        - name: Test biased_lang:test image
          run: |
            pip3 install requests
            python3 check_github.py ${{ secrets.AT }}
  #GitHub Actions currently does not support yaml anchors.
  github_docker_build_publish_prod:
    runs-on: ubuntu-latest
    needs: github_test
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1.10.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: true
      - name: Docker build and push prod to ghcr.io
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile.gh
          push: true
          tags: ghcr.io/splunk/biased_lang:1.0.0
  gitlab_docker_build_publish_test:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1.10.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: true
      - name: Docker build and push gitlab test image to ghcr.io
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile.gl
          push: true
          tags: |
            ghcr.io/splunk/biased_lang_gitlab:test
            ghcr.io/splunk/biased_lang_gitlab:1.0.0
#TODO: Find way to test GitLab side of things, then deploy prod image
